:root {
  /* Background Main Colors */
  --background-primary: #efefef;
  --background-secondary: #d7d7d7;
  --background-tertiary: #8d8d8d;
  --background-quaternary: #282828;

  /* Background Transparent Colors */
  --background-primary-transparent: #efefefc9;
  --background-primary-transparent-2: #efefef3e;
  --background-secondary-transparent: #d7d7d7c9;
  --background-tertiary-transparent: #8d8d8dc9;
  --background-quaternary-transparent: #28282816;

  /* Text Main Colors */
  --text-primary: #181818;
  --text-secondary: #282828;
  --text-tertiary: #8d8d8d;
  --text-quaternary: #d7d7d7;

  /* Accent Main Colors */
  --accent-primary: #2f86e3;
  --accent-secondary: #c63f3f;
  --accent-tertiary: #3fc6c6;
  --accent-quaternary: #c6c63f;

  /* Accent Transparent Colors */
  --accent-primary-transparent: #2f86e3c9;
  --accent-secondary-transparent: #c63f3fc9;
  --accent-tertiary-transparent: #3fc6c6c9;
  --accent-quaternary-transparent: #c6c63fc9;
}

.frosted-glass-container {
  background-color: var(--background-primary-transparent);
  background: inherit;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.frosted-glass-container:before {
  background: inherit;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px var(--background-primary-transparent);
  filter: blur(30px);
}

.frosted-glass {
  background-color: var(--background-primary-transparent);
  background: inherit;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.frosted-glass:before {
  background: inherit;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px var(--background-primary-transparent);
  filter: blur(30px);
}

.light-shadow {
  box-shadow: 0 0.5px 1px 0 var(--background-quaternary-transparent),
    0 0.75px 2.5px 0 var(--background-quaternary-transparent);
}

@media (prefers-color-scheme: dark) {
  /* Variables Dark Mode */
  :root {
    /* Background Main Colors */
    --background-primary: #181818;
    --background-secondary: #282828;
    --background-tertiary: #8d8d8d;
    --background-quaternary: #efefef;

    /* Background Transparent Colors */
    --background-primary-transparent: #1e1e1ec9;
    --background-primary-transparent-2: #1e1e1e12;
    --background-secondary-transparent: #282828c9;
    --background-tertiary-transparent: #8d8d8dc9;
    --background-quaternary-transparent: #efefef16;

    /* Text Main Colors */
    --text-primary: #efefef;
    --text-secondary: #d7d7d7;
    --text-tertiary: #8d8d8d;
    --text-quaternary: #282828;
  }
}
